$side-padding: 3%;
$side-padding-mobile: 1%;


$global-font-size: 14px;
$global-font-size-mobile: 12px;
$global-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Roboto', sans-serif;

$body-background: #efefef;
$header-background: #813772;
$footer-background: #eee;

$text-color: #06000a;
$header-text-color: #fff;
$border-color: #ccc;
$link-color: #b82601;
