$side-padding: 3%;


$global-font-size: 14px;
$global-font-size-mobile: 12px;
$global-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Roboto', sans-serif;

$text-color: #06000a;
$border-color: #ddd;
$link-color: #c43235;
