@import "../styles/variables.scss";
@import "../styles/mixins.scss";

body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: $global-font-family;
  font-size: $global-font-size;
  color: $text-color;
  background-color: $body-background;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $link-color;
  transition: 0.5s color;

  &:hover {
    color: lighten($link-color, 15);
  }

  &:focus {
    outline: 1px dashed #aaa;
    outline-offset: 3px;
  }
}

#app {
  .main {
    padding: 0 $side-padding;

    .project-container {
      display: flex;
      margin-top: 40px;
    }
  }
}

@include phone {
  body {
    font-size: $global-font-size-mobile;
  }

  #app {
    .main {
      padding: 0 $side-padding-mobile;

      .project-container {
        flex-direction: column;
        margin-top: 20px;
      }
    }
  }
}
