@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

$height: 40px;

header {
  background-color: $header-background;
  padding: 10px $side-padding;
  line-height: $height;
  height: $height;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid $border-color;

  h1 {
    font-size: 2em;
    font-weight: 500;
    color: $header-text-color;
  }

  h2 {
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 10px;
    color: darken($header-text-color, 10);
  }
}

@include phone {
  header {
    justify-content: center;
    padding: 5px $side-padding-mobile;
  }
}
