@import "../../styles/mixins.scss";

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;

  a {
    font-size: 1.3em;
    margin: 0 5px;
  }
}

@include phone {
  nav {
    a {
      font-size: 1.9em;
      margin: 0 10px;
    }
  }
}
