@import "variables";
@import "mixins";

$project-container-description-font-size: 0.85rem;

.projects-container {
  .project-container {
    &:not(:first-of-type) {
      @include margin-top(3);
    }

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: $project-container-description-font-size;

      @include margin-top(1);
    }
  }
}
